<h3 class="card-title mb-4">L'image de fond</h3>
<ul>
    <li>L'image de fond doit être au format <strong>.png</strong> ou <strong>.jpg</strong> et peser moins de <strong>2Mo</strong></li>
    <li>Il est également conseillé d'avoir une image dont les dimensions sont supérieures ou égales a 1920px*980px afin d'avoir un affichage optimal</li>
</ul>

<h3 class="card-title mb-4">Le logo</h3>
<ul>
    <li>Le logo doit être au format <strong>.png</strong> (avec fond transparent de préférence) et peser moins de <strong>2Mo</strong></li>
</ul>
