{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="form-group mb-3">
        <label for="username">{{ 'security.login.username'|trans }}</label>
        <div class="input-group">
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="form-control form-control-lg" />
            <span class="input-group-append">
                <span class="input-group-text">
                    <i class="fas fa-user"></i>
                </span>
            </span>
        </div>
    </div>
    <div class="form-group mb-3">
        <div class="clearfix">
            <label class="float-left" for="password">{{ 'security.login.password'|trans }}</label>
            <a href="{{ path('fos_user_resetting_request') }}" class="float-right">Mot de passe oublié?</a>
        </div>
        <div class="input-group">
            <input class="form-control form-control-lg" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
            <span class="input-group-append">
                <span class="input-group-text">
                    <i class="fas fa-lock"></i>
                </span>
            </span>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="checkbox-custom checkbox-default">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>
            </div>
            <div class="col-sm-4 text-right">
                <input type="submit" class="btn btn-primary mt-2" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </div>
        </div>
    </div>
</form>
