{% extends "::base.html.twig" %}
{% block page_title %}
    {{ 'http_error.name'|trans({ '%status_code%': status_code }) }}
{% endblock %}
{% block page_content %}
    <section class="body-error error-inside">
        <div class="center-error">

            <div class="row">
                <div class="col-lg-8">
                    <div class="main-error mb-3">
                        <h2 class="error-code text-dark text-center font-weight-semibold m-0">{{ 'http_error.name'|trans({ '%status_code%': status_code }) }} <i class="fa fa-file"></i></h2>
                        <p class="error-explanation text-center"> {{ 'http_error.description'|trans({ '%status_code%': status_code }) }}</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h4 class="text">{{ 'http_error.suggestion_title'|trans|raw }}</h4>
                    <p>
                        {{ 'http_error.suggestion'|trans({ '%url%': path('homepage') })|raw }}
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}