{% extends "@FOSUser/layout.html.twig" %}
{% block page_title %}Mot de passe oublié{% endblock %}
{% block fos_user_content %}
{% include "@FOSUser/Resetting/request_content.html.twig" %}
{% endblock fos_user_content %}
