{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="form-group mb-3">
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <div class="input-group">
            <input type="text" id="username" class="form-control form-control-lg" name="username" required="required" />
        </div>

    </div>
    <div class="form-group mb-3">
        <input type="submit" class="btn btn-primary btn-block" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>
