{{ "email.confirmation.initiation.message"|trans({
    '%appTitle%': configuration.config.appTitle ,
    '%enseignant%': inscription.enseignantNom ~" "~ inscription.enseignantPrenom,
    '%niveau%': inscription.classeNiveau,
    '%date%': inscription.horaire.jour.jour|localizeddate("medium","none")~ " de " ~ inscription.horaire.startAt|localizeddate("none","short") ~ " à " ~ inscription.horaire.endAt|localizeddate("none","short")
})|raw }}
{{ configuration.config.confirmationAtelier|raw }}