<section class="card">
    <div class="card-header">
        <h2 class="card-title">Completez le formulaire</h2>
    </div>
    {{ form_start(form) }}
    <div class="card-body">
        {{ form_row(form.horaire) }}
        {{ form_row(form.nbPlaces) }}
    </div>
    <div class="card-footer">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</section>




