{% extends 'base.html.twig' %}

{% block title %}Horaire index{% endblock %}

{% block body %}
    <h1>Horaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Horaire</th>
                <th>NbPlaces</th>
                <th>IsClosed</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for horaire in horaires %}
            <tr>
                <td>{{ horaire.id }}</td>
                <td>{{ horaire.horaire ? horaire.horaire|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ horaire.nbPlaces }}</td>
                <td>{{ horaire.isClosed ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('horaire_show', {'id': horaire.id}) }}">show</a>
                    <a href="{{ path('horaire_edit', {'id': horaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('horaire_new') }}">Create new</a>
{% endblock %}
