{% extends 'base.html.twig' %}
{% block page_title %}Ajouter un horaire à la journée du {{ jour.jour|localizeddate("full", "none") }}{% endblock %}
{% block title %}Ajouter un horaire à la journée du {{ jour.jour|localizeddate("full", "none") }}{% endblock %}
{% block breadcrumbs %}
    <li><span>{{ jour.jour|localizeddate("full","none") }}</span></li>
    <li><span>ajouter un horaire</span></li>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-6 col-md-12">
            {{ include('back/horaire/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
