<form class="form-inline" style="display: inline-block" method="post" action="{{ path('contact_delete', {'id': contact.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
    <button class="btn btn-xs btn-danger">supprimer</button>
</form>
