{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    <div class="form-group">
        <button class="btn btn-primary">{{ button_label|default('enregistrer') }}</button>
    </div>
{{ form_rest(form) }}
{{ form_end(form) }}
