{% extends 'base.html.twig' %}

{% block page_title %}Modifier un contact{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <section class="card card-success">
                <header class="card-header">
                    <h2 class="card-title">Ajouter un contact</h2>
                </header>
                <div class="card-body">
                    {{ include('back/contact/_form.html.twig', {'button_label': 'modifier'}) }}
                </div>
                <div class="card-footer">
                    <a class="btn btn-warning" href="{{ path('contact_index') }}">retour</a>
                </div>
            </section>
        </div>
        <div class="col-md-4 col-xs-12">
            <section class="card card-danger">
                <header class="card-header">
                    <h2 class="card-title">Administration</h2>
                </header>
                <div class="card-body">
                    {{ include('back/contact/_delete_form.html.twig') }}
                </div>
            </section>
        </div>
    </div>
{% endblock %}