{% extends 'base.html.twig' %}

{% block page_title %}Liste des contacts{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <section class="card card-info">
                <header class="card-header">
                    <h2 class="card-title">Liste des contacts</h2>
                </header>
                <div class="card-body">
                    <table id="datatable-tabletools" class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for contact in contacts %}
                            {# contact \App\Entity\Contact #}
                            <tr>
                                <td scope="row">{{ contact.name }}</td>
                                <td>{{ contact.email }}</td>
                                <td>
                                    <a class="btn btn-success btn-xs" href="{{ path('contact_edit', {'id': contact.id}) }}">modifier</a>
                                    {{ include('back/contact/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">
                                    <div class="alert alert-info" role="alert">
                                        <strong>Il n'y a pas de contacts pour le moment</strong>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-right">
                    <a href="{{ path('contact_new') }}" class="btn btn-primary">ajouter</a>
                </div>
            </section>

        </div>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}
