{% extends 'base.html.twig' %}

{% block page_title %}Ajouter un contact{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <section class="card card-primary">
                <header class="card-header">
                    <h2 class="card-title">Ajouter un contact</h2>
                </header>
                <div class="card-body">
                    {{ include('back/contact/_form.html.twig') }}
                </div>
                <div class="card-footer">
                    <a class="btn btn-warning" href="{{ path('contact_index') }}">retour</a>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
