{{ "email.confirmation.atelier.message"|trans({
    '%nom%': inscription.nom ,
    '%prenom%': inscription.prenom,
    '%atelier%': inscription.atelier.title,
    '%date%': inscription.atelier.jour|localizeddate("long", "none") ~ " à " ~ inscription.atelier.horaire|localizeddate("none","short") ,
})|raw }}
{{ configuration.confirmationAtelier|raw }}