{% block _jour_type_horaires_entry_row %}
    <div class="col-md-4 mb-4">
        <section class="card">
            <div class="card-header">
                <h2 class="card-title">Ajouter un horaire</h2>
            </div>
            <div class="card-body">
                {{ form_widget(form) }}
            </div>
            <div class="card-footer text-right">
                <a href="#" class="collection-remove btn btn-default" title="Supprimer"><span class="fas fa-trash"></span></a>
                <a href="#" class="collection-add btn btn-default" title="Ajouter"><span class="fas fa-plus"></span></a>
            </div>
        </section>
    </div>
{% endblock %}
{% block _jour_type_horaires_entry_label %}
{% endblock %}
{% block _jour_type_horaires_entry_widget %}
    <div class="row">
        <div class="col-6">
            {{ form_row(form.startAt) }}
        </div>
        <div class="col-6">
            {{ form_row(form.endAt) }}
        </div>
    </div>
    {{ form_row(form.nbPlaces) }}
{% endblock %}

{% block vich_image_widget %}
    {% spaceless %}
        <div class="vich-image">
            {{ form_widget(form.file) }}
            {% if form.delete is defined %}
                {{ form_row(form.delete) }}
            {% endif %}

            {% if image_uri %}
                <a href="{{ image_uri }}"><img src="{{ image_uri|imagine_filter("thumbnail") }}" class="img-fluid img-thumbnail" alt="" /></a>
            {% endif %}
            {% if download_uri %}
                <a href="{{ download_uri }}">{{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}</a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}
