<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        {{ encore_entry_link_tags('admin') }}
        <link rel="shortcut icon" href="{{ asset("build/static/favicon.ico") }}"/>
    </head>
    <body>
    <section class="body-sign">
        <div class="center-sign">
            <a href="/" class="logo float-left">
                <img src="{{ asset('build/static/plouf_logo.png') }}" height="54" alt="Plouf Admin" />
            </a>
            <div class="panel card-sign">
                <div class="card-title-sign mt-3 text-right">
                    <h2 class="title text-uppercase font-weight-bold m-0"><i class="fas fa-user mr-1"></i> {% block page_title %}{% endblock %}</h2>
                </div>
                <div class="card-body">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
                </div>
            </div>
            <p class="text-center text-muted mt-3 mb-3">&copy; Copyright {{ date('now')|date('Y') }}. All Rights Reserved.</p>
        </div>
    </section>
    {{ encore_entry_script_tags('admin') }}
    </body>
</html>
