{% extends "base.html.twig" %}
{% block page_title %}Modifier un utilisateur{% endblock %}
{% block title %}{{ parent() }} - Modifier un utilisateur{% endblock %}
{% block breadcrumbs %}<li><span><a href="{{ path('user_list') }}">utilisateurs</a></span></li><li><span>modifier</span></li>{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-lg-12">
            <section class="card card-success">
                <header class="card-header">
                    <h2 class="card-title">Complétez le formulaire</h2>
                </header>
                {{ form_start(form) }}
                <div class="card-body">
                    {{ form_widget(form) }}
                </div>
                <div class="card-footer text-right">
                    <input type="submit" value="modifier" class="btn btn-success" />
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </section>
        </div>
    </div>
{% endblock %}