{% extends "base.html.twig" %}
{% block breadcrumbs %}<li><span>Utilisateurs</span></li>{% endblock %}
{% block page_title %}Gestion des utilisateurs{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-lg-12">
            <section class="card">
                <div class="card-header">
                    <h2 class="card-title">Liste des utilisateurs</h2>
                    <p class="card-subtitle">
                        <a href="{{ path('user_create') }}" class="btn btn-primary btn-xs">ajouter</a>
                    </p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nom</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td scope="row">{{ user.id }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>
                                        <a href="{{ path('user_edit', {'id': user.id}) }}">
                                        <i class="fa fa-edit"></i>
                                        </a>
                                        -
                                        <a href="{{ path('user_delete', {'id': user.id}) }}">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}