{% extends "front_layout.html.twig" %}
{% block page_title "Formulaire d'inscription pour les inititations" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="alert alert-success">
                    {% include 'mails/formation/email.html.twig' with { inscription: inscription } %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}