{% extends("front_layout.html.twig") %}
{% block page_title "Formulaire d'inscription pour les inititations" %}
{% block body %}
    {# configuration \App\Entity\Configuration #}
    <div class="container">
 <div class="row">
            <div class="col">
                {{ configuration.messageInscription|raw }}
            </div>
        </div>
        <div class="row">
            {% if form.horaire.vars.choices|length != 0 %}
                <div class="col">
                    {{ form_start(form) }}
                    <section class="card">
                        <div class="card-header">
                            <h2 class="card-title">Créneau horaire</h2>
                        </div>
                        <div class="card-body">
                            {{ form_row(form.horaire) }}
                            {{ form_row(form.classeNiveau) }}
                        </div>
                    </section>
                    <div class="row">
                        <div class="col-md-6 col-xs-12 mt-4">
                            <section class="card">
                                <div class="card-header">
                                    <h2 class="card-title">Enseignants / Animateurs</h2>
                                </div>
                                <div class="card-body">
                                    {{ form_row(form.enseignantNom) }}
                                    {{ form_row(form.enseignantPrenom) }}
                                    {{ form_row(form.telEnseignant) }}
                                    {{ form_row(form.enseignantMailPro) }}
                                    {{ form_row(form.enseignantMailPerso) }}
                                </div>
                            </section>
                        </div>
                        <div class="col-md-6 col-xs-12 mt-4">
                            <section class="card">
                                <div class="card-header">
                                    <h2 class="card-title">Établissement scolaire</h2>
                                </div>
                                <div class="card-body">
                                    {{ form_row(form.nomEtablissement) }}
                                    {{ form_row(form.adresseEtablissement) }}
                                    {{ form_row(form.nomDirecteur) }}
                                    {{ form_row(form.telEtablissement) }}
                                    {{ form_row(form.emailEtablissement) }}
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mt-4">
                            <section class="card">
                                <div class="card-header">
                                    <h2 class="card-title">Autres informations</h2>
                                </div>
                                <div class="card-body">
                                    {{ form_row(form.classeNombreEleve) }}
                                    {{ form_row(form.autreInfos) }}
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mt-4">
                            <div class="alert alert-danger">
                                <h2>Droits photos</h2>
                                <p>
                                    {{ "autorisation_parentale"|trans }}
                                </p>
                                {% if configuration.autorisationParentale is defined and configuration.autorisationParentale.imageName is not null %}
                                    <p class="text-center">
                                        <a href="{{ vich_uploader_asset(configuration.autorisationParentale, "imageFile") }}"
                                           class="btn btn-danger" target="_blank">télécharger le document</a>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <p class="text-center">
                                <input type="submit" class="btn btn-primary" value="{{ "button.add"|trans }}"/>
                            </p>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            {% else %}
                <div class="col">
                    <div class="alert alert-info">
                        Il n'y a plus de places disponibles pour le moment, merci de votre participation !
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

