<form method="post" action="{{ path('inscription_atelier_delete', {'id': inscription.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inscription.id) }}">
    <button class="btn btn-xs btn-danger">{{ "button.delete"|trans }}</button>
</form>
