    <table id="datatable-tabletools-atelier" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Atelier</th>
            {% if is_granted("ROLE_ADMIN") %}
            <th>Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for inscription in inscriptions %}
            {# inscription \App\Entity\InscriptionAtelier #}
            <tr>
                <td>{{ inscription.id }}</td>
                <td>{{ inscription.nom }}</td>
                <td>{{ inscription.prenom }}</td>
                <td>{{ inscription.atelier.title }}</td>
                {% if is_granted("ROLE_ADMIN") %}
                <td>{{ include('back/inscription_atelier/_delete_form.html.twig',{
                        inscription: inscription
                    }) }}
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>