<form method="post" action="{{ path('mention_legal_delete', {'id': mention_legal.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mention_legal.id) }}">
    <button class="btn">Delete</button>
</form>
