
{{ form_start(form) }}
<section class="card {{ card_class|default("card-primary") }}">
    <header class="card-header">
        <h2 class="card-title">{{ card_title|default("Créer les mentions légales") }}</h2>
    </header>
    <div class="card-body">
        {{ form_widget(form) }}
    </div>
    <div class="card-footer">
        <button class="btn btn-primary">{{ button_label|default('button.add')|trans }}</button>
        <a href="{{ path('configuration_index') }}" class="btn btn-warning">{{ "button.back"|trans }}</a>
    </div>
</section>

{{ form_end(form) }}


