{% extends 'base.html.twig' %}

{% block page_title %}Edit MentionLegal{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col">
            {{ include('back/mention_legal/_form.html.twig', {'button_label': 'modifier'}) }}
        </div>
    </div>
{% endblock %}
