{% extends 'base.html.twig' %}

{% block title %}MentionLegal index{% endblock %}

{% block body %}
    <h1>MentionLegal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mention_legal in mention_legals %}
            <tr>
                <td>{{ mention_legal.id }}</td>
                <td>{{ mention_legal.title }}</td>
                <td>{{ mention_legal.description }}</td>
                <td>
                    <a href="{{ path('mention_legal_show', {'id': mention_legal.id}) }}">show</a>
                    <a href="{{ path('mention_legal_edit', {'id': mention_legal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mention_legal_new') }}">Create new</a>
{% endblock %}
