{% extends 'base.html.twig' %}
{% block page_title %}Ajouter les mentions légales{% endblock %}
{% block title %}New MentionLegal{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            {{ include('back/mention_legal/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
