{% extends 'base.html.twig' %}

{% block title %}MentionLegal{% endblock %}

{% block body %}
    <h1>MentionLegal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mention_legal.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ mention_legal.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ mention_legal.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mention_legal_index') }}">back to list</a>

    <a href="{{ path('mention_legal_edit', {'id': mention_legal.id}) }}">edit</a>

    {{ include('mention_legal/_delete_form.html.twig') }}
{% endblock %}
