<form method="post" action="{{ path('atelier_delete', {'id': atelier.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ atelier.id) }}">
    <button class="btn btn-danger">{{ "button.delete"|trans }}</button>
</form>
