
<div class="row">
    <div class="col-lg-8 col-md-6 col-md-12">
        {{ form_start(form) }}
        <section class="card card-{{ card_class|default("primary") }}">
            <div class="card-header">
                <h2 class="card-title">Completez le formulaire</h2>
            </div>
            <div class="card-body">
                {{ form_row(form.title) }}
                {{ form_row(form.nbPlaces) }}
                {{ form_row(form.description) }}
            </div>
            <div class="card-footer text-right">
                <button class="btn btn-{{ card_class|default("primary") }}">{{ button_label|default('button.add')|trans }}</button>
            </div>
        </section>
    </div>
    <div class="col-lg-4 col-mdm_start(form) }}-6 col-xs-12">
        <div class="col">

            <section class="card card-{{ card_class|default("primary") }}">
                <div class="card-header">
                    <h2 class="card-title">Options</h2>
                </div>
                <div class="card-body">
                    {{ form_row(form.isOpen) }}
                    {{ form_row(form.jour) }}
                    {{ form_row(form.horaire) }}
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-{{ card_class|default("primary") }}">{{ button_label|default('button.add')|trans }}</button>
                </div>
            </section>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
        {% if delete_form is defined %}
        <div class="col mt-4">
            <section class="card card-danger">
                <div class="card-header">
                    <h2 class="card-title">Zone admin</h2>
                </div>
                <div class="card-body">
                    {{ include('back/atelier/_delete_form.html.twig') }}
                </div>
            </section>
        </div>
        {% endif %}
    </div>
</div>






