{% extends 'base.html.twig' %}
{% block page_title %}Modifier un atelier{% endblock %}
{% block title %}{{ parent() }} - Modifier un atelier{% endblock %}

{% block page_content %}
    {{ include('back/atelier/_form.html.twig',{
        button_label: "button.edit",
        card_class: 'success',
        delete_form : true
    }) }}
{% endblock %}
