{% extends 'base.html.twig' %}
{% block title%}{{ parent() }} - Les ateliers{% endblock %}
{% block page_title %}Les ateliers{% endblock %}
{% block breadcrumbs %}
<li><span><a href="{{ path('atelier_index') }}">les ateliers</a> </span></li>
{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-lg-12">
            <section class="card card-info">
                <div class="card-header">
                    <h2 class="card-title">Liste des ateliers disponibles</h2>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Intitulé de l'atelier</th>
                            <th>Description</th>
                            <th>Jour</th>
                            <th>Horaire</th>
                            <th>Etat</th>
                            <th>Nombre de places</th>
                            {% if is_granted("ROLE_ADMIN") %}
                            <th>Actions</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for atelier in ateliers %}
                            <tr>
                                <td>{{ atelier.title }}</td>
                                <td>{{ atelier.description|truncate(100)|raw }}</td>
                                <td>{{ atelier.jour|localizeddate("full","none") }}</td>
                                <td>{{ atelier.horaire|localizeddate("none","short") }}</td>
                                <td>{{ atelier.isOpen ? '<span class="badge badge-success">ouvert</span>' : '<span class="badge badge-danger">fermé</span>' }}</td>
                                <td>{{ atelier.nbPlaces }}</td>
                                {% if is_granted("ROLE_ADMIN") %}
                                <td>
                                    <div class="dropdown open">
                                        <button class="btn btn-xs btn-primary dropdown-toggle" type="button" id="triggerId"
                                                data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            <span class="fas fa-gears"></span> actions
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="triggerId">
                                            <a href="{{ path('atelier_edit', {'id': atelier.id}) }}" class="dropdown-item">{{ "button.edit"|trans }} / {{ "button.delete"|trans }}</a>
                                        </div>
                                    </div>

                                </td>
                                {% endif %}
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="10">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-right">
                    <a href="{{ path('atelier_new') }}" class="btn btn-primary">{{ 'button.add'|trans }}</a>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
