{% extends 'base.html.twig' %}
{% block page_title %}Ajouter un atelier{% endblock %}
{% block title %}{{ parent() }} - Ajouter un atelier{% endblock %}

{% block page_content %}
    {{ include('back/atelier/_form.html.twig') }}
{% endblock %}
