{% extends 'base.html.twig' %}

{% block title %}Atelier{% endblock %}

{% block body %}
    <h1>Atelier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ atelier.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ atelier.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ atelier.description }}</td>
            </tr>
            <tr>
                <th>Details</th>
                <td>{{ atelier.details }}</td>
            </tr>
            <tr>
                <th>Jour</th>
                <td>{{ atelier.jour }}</td>
            </tr>
            <tr>
                <th>Horaire</th>
                <td>{{ atelier.horaire }}</td>
            </tr>
            <tr>
                <th>IsOpen</th>
                <td>{{ atelier.isOpen ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>NbPlaces</th>
                <td>{{ atelier.nbPlaces }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ atelier.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('atelier_index') }}">back to list</a>

    <a href="{{ path('atelier_edit', {'id': atelier.id}) }}">edit</a>

    {{ include('atelier/_delete_form.html.twig') }}
{% endblock %}
