{{ form_start(form) }}
{% if form.vars.errors is not empty %}
    <div class="row">
        <div class="col">
        <div class="alert alert-danger">
            <span class="badge badge-danger">erreur</span> Merci de completer tous les champs
        </div>
    </div>
    </div>
{% endif %}
<div class="row">
    <div class="col-lg-8 col-md-12">
        <section class="card card-{{ card_class|default("primary") }}">
            <div class="card-header">
                <h2 class="card-title">Informations générales</h2>
            </div>
            <div class="card-body">
                {{ form_row(form.app_title) }}
                {{ form_row(form.messageInscription) }}
                {{ form_row(form.messageAtelier) }}
                {{ form_row(form.confirmationInscription) }}
                {{ form_row(form.confirmationAtelier) }}
            </div>
            <div class="card-footer">
                <input type="submit" class="btn btn-{{ card_class|default("primary") }}" value="{{ button|default("button.add")|trans }}">
            </div>
        </section>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="row">
            <div class="col-12 mb-4">
                <section class="card card-{{ card_class|default("primary") }}">
                    <div class="card-header">
                        <h2 class="card-title">Options</h2>
                    </div>
                    <div class="card-body">
                        {{ form_row(form.is_open) }}
                        {#{{ form_row(form.imageFile) }}#}
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-{{ card_class|default("primary") }}" value="{{ button|default("button.add")|trans }}">
                    </div>
                </section>
            </div>
            <div class="col-12">
                <section class="card card-{{ card_class|default("primary") }}">
                    <div class="card-header">
                        <h2 class="card-title">Fichier d'autorisation parentale</h2>
                    </div>
                    <div class="card-body">
                        {{ form_row(form.autorisationParentale) }}
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-{{ card_class|default("primary") }}" value="{{ button|default("button.add")|trans }}">
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}