{% extends "base.html.twig" %}
{% block title %}{{ parent() }} - Configuration de l'application{% endblock %}
{% block page_title %}Configuration de l'application{% endblock %}
{% block breadcrumbs %}
    <li><span>Configuration</span></li>{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12">
            {{ include('back/fragments/widget/item.html.twig',{
                card_class: (configuration.isOpen ) ? 'primary' : 'secondary',
                card_bg_icon: (configuration.isOpen ) ? 'primary' : 'secondary',
                card_icon: (configuration.isOpen ) ? 'check' : 'times-circle',
                card_short_text:(configuration.isOpen ) ? 'En ligne' : 'Fermée',
                card_link: path('configuration_edit', {'id': configuration.id})
            }) }}
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            {{ include('back/fragments/widget/item.html.twig',{
                card_title: "Fichier d'autorisation scolaire",
                card_class: (configuration.autorisationParentale and configuration.autorisationParentale.imageName is not null) ? 'primary' : 'secondary',
                card_bg_icon: (configuration.autorisationParentale and configuration.autorisationParentale.imageName is not null) ? 'primary' : 'secondary',
                card_icon: (configuration.autorisationParentale and configuration.autorisationParentale.imageName is not null) ? 'check' : 'times-circle',
                card_short_text:(configuration.autorisationParentale and configuration.autorisationParentale.imageName is not null) ? 'En ligne' : 'aucun',
                card_link: path('configuration_edit', {'id': configuration.id})
            }) }}
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            {{ include('back/fragments/widget/item.html.twig',{
                card_title: "Page des mentions légales",
                card_class: (mention is not null) ? 'primary' : 'secondary',
                card_bg_icon: (mention is not null) ? 'primary' : 'secondary',
                card_icon: (mention is not null) ? 'check' : 'times-circle',
                card_short_text:(mention is not null) ? 'En ligne' : 'aucune',
                card_link: (mention is not null) ? path('mention_legal_edit', {'id': mention.id}) : path('mention_legal_new'),
                button_link: (mention is not null) ? "edit"|trans({}, 'actions') : "add"|trans({}, 'actions')
            }) }}
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <section class="card card-featured card-featured-info">
                <header class="card-header">
                    <h2 class="card-title"><span class="fas fa-align-left"></span> Les textes</h2>
                </header>
                <div class="card-body">
                    {{ include("back/fragments/widget/_card.html.twig",{
                        card_class: "",
                        card_title: "Confirmation d'inscription aux initiations",
                        text: configuration.messageInscription
                    }) }}
                    {{ include("back/fragments/widget/_card.html.twig",{
                        card_class: "",
                        card_title: "Confirmation d'inscription aux ateliers",
                        text: configuration.messageAtelier
                    }) }}
                </div>
                <div class="card-footer text-right">
                    <a href="{{ path('configuration_edit', {'id': configuration.id}) }}" class="btn btn-primary">modifier</a>
                </div>
            </section>
        </div>

        <div class="col-md-6 col-xs-12">
            <section class="card card-featured card-featured-success">
                <header class="card-header">
                    <h2 class="card-title"><span class="far fa-envelope"></span> Les emails</h2>
                </header>
                <div class="card-body">
                    {{ include("back/fragments/widget/_card.html.twig",{
                        card_class: "",
                        card_title: "Email de confirmation d'inscription aux initiations",
                        text: configuration.confirmationInscription
                    }) }}

                    {{ include("back/fragments/widget/_card.html.twig",{
                        card_class: "",
                        card_title: "Email de confirmation d'inscription aux ateliers",
                        text: configuration.confirmationAtelier
                    }) }}
                </div>
                <div class="card-footer text-right">
                    <a href="{{ path('configuration_edit', {'id': configuration.id}) }}" class="btn btn-primary">modifier</a>
                </div>
            </section>
        </div>
    </div>

{% endblock %}