{% extends "base.html.twig" %}
{% block title %}{{ parent() }} - Configuration de l'application{% endblock %}
{% block page_title %}Configuration de l'application{% endblock %}
{% block breadcrumbs %}<li><span>Configuration</span></li>{% endblock %}

{% block page_content %}
    {{ include('back/configuration/_form.html.twig') }}
{% endblock %}