<div class="card {{ card_class|default("card-default") }}">
    <header class="card-header">
        <h2 class="card-title">{{ card_title|default("Informations") }}</h2>
    </header>
    <div class="card-body">
        {{ text|raw }}
    </div>
</div>