<section class="card card-featured-left mb-4 card-featured-{{ card_class|default("primary") }}">
    <div class="card-body">
        <div class="widget-summary">
            <div class="widget-summary-col widget-summary-col-icon">
                <div class="summary-icon bg-{{ card_bg_icon|default("primary") }}">
                    <i class="fas fa-{{ card_icon }}"></i>
                </div>
            </div>
            <div class="widget-summary-col">
                <div class="summary">
                    <h4 class="title">{{ card_title|default("État de la plateforme") }}</h4>
                    <div class="info">
                        <span class="text-primary">{{ card_short_text|default("info") }}</span>
                    </div>
                </div>
                {% if card_link is defined %}
                <div class="summary-footer">
                    <a class="text-muted text-uppercase" href="{{ card_link }}">{{ button_link|default("button.edit")|trans }}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>