<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Bienvenue à Plouf{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light"
          rel="stylesheet" type="text/css">
    {{ encore_entry_link_tags('app') }}
    <script src="{{ asset('js/modernizr.js') }}"></script>
    <style>
        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .home-container {
            width: 100%;
            max-width: 750px;
            padding: 15px;
            margin: auto;
            height: 55%;
        }
        .cover {
            background: url('{% if configuration is defined and configuration.backgroundImage is not null and configuration.backgroundImage.imageName is not null %}{{ vich_uploader_asset(configuration.backgroundImage, "imageFile") }}{% else %}{{ asset('build/static/background_page_accueil.jpg') }}{% endif %}') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
            height: 100%;
        }
    </style>
    <link rel="shortcut icon" href="{{ asset("build/static/favicon.ico") }}"/>
</head>
<body class="cover">
<div class="home-container">
    <div class="content-home text-center">
        {% if configuration is defined and configuration is not null %}

                {% if configuration.appLogo is defined and configuration.appLogo is not null and configuration.appLogo.imageName is not null %}
                    <img src="{{ vich_uploader_asset(configuration.appLogo, "imageFile") }}" class="img-fluid" alt="">
                {% else %}
                    <img class="img-fluid" src="{{ asset('build/static/logo_plouf_2018.png') }}" alt="" />
                {% endif %}
                {% if configuration.isOpen %}
                <div class="col mt-4">
                        <div class="row">
                            <div class="col-6 text-center">
                                <a href="{{ path('front_inscription') }}" class="btn btn-primary btn-xl">Inscriptions</a>
                            </div>
                            <div class="col-6 text-center">
                                <a href="{{ path('front_inscription_atelier') }}" class="btn btn-primary btn-xl">Ateliers</a>
                            </div>
                        </div>
                </div>
                {% else %}
                    <div class="alert alert-info">
                        <p>Message Fermeture</p>
                    </div>
                {% endif %}
        {% else %}
            <div class="alert alert-info">
                <h3>Maintenance</h3>
                <p>La plateforme est en cours de maintenance, veuillez nous excuser pour la gêne occasionée.</p>
            </div>
        {% endif %}
    </div>
</div>
{{ encore_entry_script_tags('app') }}
</body>
</html>

