{% extends "front_layout.html.twig" %}
{% block page_title %}{{ mention.title }}{% endblock %}
{% block breadcrumb %}{{ parent() }}
    <li>{{ mention.title }}</li>{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ mention.description|raw }}
            </div>
        </div>
    </div>

{% endblock %}