<!DOCTYPE html>
<html class="fixed has-top-menu" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Administration Plouf{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light"
          rel="stylesheet" type="text/css">

    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}

    <link rel="shortcut icon" href="{{ asset("build/static/favicon.ico") }}"/>
</head>
<body {% block body_id %}{% endblock %}>
{% block body %}
    <section class="body">
        {{ include('back/header.html.twig') }}
        <div class="inner-wrapper">
            <section role="main" class="content-body">
                <header class="page-header">
                    <h2>{% block page_title %}{% endblock %}</h2>

                    <div class="right-wrapper text-right">
                        <ol class="breadcrumbs">
                            <li>
                                <a href="{{ path('homepage') }}">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            {% block breadcrumbs %}
                            {% endblock %}
                        </ol>
                    </div>
                </header>
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div role="alert" class="alert alert-{{ label }}">
                                    {{ message }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block page_content %}
                {% endblock %}
            </section>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}
</body>
</html>
