<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bienvenu à Plouf !</title>
    <meta name="keywords" content="plouf, préfecture de police" />
    <meta name="author" content="julien dechavanne">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('build/static/favicon.ico') }}" type="image/x-icon" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    {{ encore_entry_link_tags('app') }}
</head>
<body>
<header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 55, 'stickySetTop': '-55px', 'stickyChangeLogo': true}">
    <div class="header-body">
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="{{ path('front_homepage') }}">
                                <img alt="Porto" width="111" data-sticky-width="82" data-sticky-height="40" data-sticky-top="33" src="{{ asset('build/static/plouf_logo.png') }}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <div class="header-nav">
                            <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
                                <nav>
                                    {{ knp_menu_render('front') }}
                                </nav>
                            </div>
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="body">
    <div class="main">
        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="breadcrumb">
                            {% block breadcrumb %}
                            <li><a href="{{ path('front_homepage') }}">Accueil</a></li>
                            {% endblock %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1>{% block page_title %}{% endblock %}</h1>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% block body %}

{% endblock %}
</div>
{{ encore_entry_script_tags('app') }}
</body>
</html>
