    <table id="datatable-tabletools" class="table table-bordered table-striped datatable">
        <thead>
        <tr>
            <th>Nom établissement</th>
            <th>Nom de l'établissement</th>
            <th>Adresse de l'établissement</th>
            <th>Email de contact</th>
            <th>Nombre d'élèves</th>
            <th>Horaire</th>
        </tr>
        </thead>
        <tbody>
        {% for inscription in inscriptions %}
            {# inscription \App\Entity\Inscription #}
            <tr>
                <td><a href="{{ path('inscription_show', {'id': inscription.id}) }}" data-toggle="tooltip" title="Afficher les détails">{{ inscription.nomEtablissement }}</a></td>
                <td>{{ inscription.nomEtablissement }}</td>
                <td> {{ inscription.adresseEtablissement }} </td>
                <td><a title="écrire un email" data-toggle="tooltip" href="mailto:{{ inscription.emailEtablissement }}">{{ inscription.emailEtablissement }}</a></td>
                <td>{{ inscription.classeNombreEleve }} </td>
                <td>{{ inscription.horaire.jour.jour|localizeddate("full","none") }} à {{ inscription.horaire }}</td>
            </tr>
        {% endfor %}
    </table>