{% extends "base.html.twig" %}
{% block title %}{{ parent() }} - {{ inscription.nomEtablissement }}{% endblock %}
{% block page_title %}{{ inscription.nomEtablissement }}{% endblock %}
{% block breadcrumbs %}<li><span>{{ inscription.nomEtablissement }}</span></li>{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-lg-4 col-md-12">
            {{ include('back/fragments/widget/item.html.twig',{
                card_class: "info",
                card_bg_icon: "info",
                card_icon: "users",
                card_title: "Nombre d'élèves",
                card_short_text: inscription.classeNombreEleve ~ " élèves de " ~ inscription.classeNiveau
            }) }}
        </div>
        <div class="col-lg-4 col-md-12">
            {{ include('back/fragments/widget/item.html.twig',{
                card_class: "warning",
                card_bg_icon: "warning",
                card_icon: "clock",
                card_title: "Horaire",
                card_short_text: "" ~ inscription.horaire.jour.jour|localizeddate("medium","none") ~" à " ~ inscription.horaire.horaire|localizeddate("none","short")
            }) }}
        </div>
        {% if inscription.autreInfos %}
        <div class="col-lg-4 col-md-12">
            {{ include('back/fragments/widget/item.html.twig',{
                card_class: "primary",
                card_bg_icon: "primary",
                card_icon: "info",
                card_title: "Information complémentaire",
                card_short_text: inscription.autreInfos
            }) }}
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
            <section class="card card-featured-left card-featured-info">
                <div class="card-header">
                    <h2 class="card-title">L'établissement</h2>
                </div>
                <div class="card-body">
                   <blockquote class="b-thick">
                       <ul class="list-inline">
                           <li><strong>Nom de l'établissement</strong> : {{ inscription.nomEtablissement }}</li>
                           <li><strong>Adresse de l'établissement</strong> : {{ inscription.adresseEtablissement }}</li>
                           <li><strong>Nom du directeur</strong> : {{ inscription.nomDirecteur }}</li>
                           <li><strong>Téléphone de l'établissement</strong> : {{ inscription.telEtablissement }}</li>
                           <li><strong>Email de l'établissement</strong> : <a href="mailto:{{ inscription.emailEtablissement }}"> {{ inscription.emailEtablissement }}</a></li>
                       </ul>
                   </blockquote>
                </div>
            </section>
        </div>
        <div class="col-lg-6 col-md-12">
            <section class="card card-featured-left card-featured-info">
                <div class="card-header">
                    <h2 class="card-title">L'accompagnateur / enseignant</h2>
                </div>
                <div class="card-body">
                    <blockquote class="b-thick">
                        <ul class="list-inline">
                            <li><strong>Nom</strong> : {{ inscription.enseignantNom }}</li>
                            <li><strong>Prénom</strong> : {{ inscription.enseignantPrenom}}</li>
                            <li><strong>Téléphone</strong> : {{ inscription.telEnseignant }}</li>
                            <li><strong>Email personnel</strong> : <a href="mailto:{{ inscription.enseignantMailPerso }}"> {{ inscription.enseignantMailPerso }}</a></li>
                            <li><strong>Email professionnel</strong> : <a href="mailto:{{ inscription.enseignantMailPro }}">{{ inscription.enseignantMailPro }}</a></li>
                        </ul>
                    </blockquote>
                </div>
            </section>
        </div>
    </div>
    {% if is_granted("ROLE_ADMIN") %}
        <div class="row">
            <div class="col-lg-4 offset-lg-4 col-md-12">
                <section class="card card-danger">
                    <div class="card-header">
                        <h2 class="card-title">Zone admin</h2>
                    </div>
                    <div class="card-body">
                        {{ include('back/inscription/_delete_form.html.twig') }}
                    </div>
                </section>
            </div>
        </div>
    {% endif %}
{% endblock %}