<form method="post" action="{{ path('jour_delete', {'id': jour.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ jour.id) }}">
    <button class="btn btn-danger">{{ "button.delete"|trans }}</button>
</form>
