<section class="card card-{{ card_class|default("default") }}">
    <div class="card-header">
        <h2 class="card-title">Complétez le formulaire</h2>
    </div>
    {{ form_start(form) }}
    <div class="card-body">
        {{ form_row(form.jour) }}
        {{ form_row(form.horaires) }}
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-{{ card_class|default("default") }}">{{ button_label|default('button.add')|trans }}</button>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</section>