{% extends 'base.html.twig' %}
{% block page_title %}Modifier une journée de formation{% endblock %}
{% block title %}Modifier une journée de formation{% endblock %}
{% block breadcrumbs %}<li><span><a href="{{ path('jour_new') }}">Modifier une journée</a></span></li>{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('horaires_management') }}
{% endblock %}
{% block page_content %}
    {% form_theme form 'forms/jquery.collection.html.twig' %}
    <div class="row">
        <div class="col-lg-8 col-md-6 col-xs-12">
            {{ include('back/jour/_form.html.twig',{
                button_label: "button.edit",
                card_class: "success"
            }) }}
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <section class="card card-danger">
                <div class="card-header">
                    <h2 class="card-title">Zone admin</h2>
                </div>
                <div class="card-body">
                    <p>Attention, toute suppression est définitive !</p>
                   {{ include('back/jour/_delete_form.html.twig') }}
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('collection') }}
    {{ encore_entry_script_tags('horaires_management') }}
{% endblock %}