{% extends 'base.html.twig' %}
{% block page_title %}Gestion des jours d'événement{% endblock %}
{% block title %}Gestion des jours d'événement{% endblock %}
{% block breadcrumbs %}<li><span><a href="{{ path('jour_index') }}"> Jours d'événement</a></span></li>{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-lg-12 col-md-6">
            <section class="card card-info">
                <div class="card-header">
                    <h2 class="card-title">Liste des jours de formation</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Jour</th>
                            <th>Horaires</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for jour in jours %}
                            {# jour \App\Entity\Jour #}
                            <tr>
                                <td>
                                    {{ jour.jour|localizeddate("long", "none") }}
                                </td>
                                <td>
                                    <ul class="list-inline">
                                    {% for horaire in jour.horaires %}
                                        {# horaire \App\Entity\Horaire #}
                                        <li>
                                            <span class="badge badge-{{ horaire.isClosed ? 'danger' : 'success' }}">{{ horaire }}</span> - {{ horaire.nbPlaces }} place(s) disponible(s)
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <div class="dropdown open">
                                        <button class="btn btn-primary btn-xs dropdown-toggle" type="button" id="triggerId"
                                                data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            <span class="fas fa-gears"></span> actions
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="triggerId">
                                            <a class="dropdown-item" href="{{ path('jour_edit', {'id': jour.id}) }}">modifier</a>
                                            <a class="dropdown-item" href="{{ path('horaire_new',{'id':jour.id}) }}">ajouter un horaire</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3" class="text-center">Aucun enregistrement n'a été trouvé</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <a href="{{ path('jour_new') }}" class="btn btn-primary">{{ "button.add"|trans }}</a>
                </div>
            </section>
        </div>
    </div>

{% endblock %}
