{% extends 'base.html.twig' %}
{% block page_title %}Ajouter une journée de formation{% endblock %}
{% block title %}Ajouter une journée de formation{% endblock %}
{% block breadcrumbs %}<li><span><a href="{{ path('jour_new') }}">Ajouter une journée</a></span></li>{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('horaires_management') }}
{% endblock %}
{% block page_content %}
    {% form_theme form 'forms/jquery.collection.html.twig' %}
    <div class="row">
        <div class="col-lg-12 col-md-12">
            {{ include('back/jour/_form.html.twig',{
                card_class: 'info'
            }) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('collection') }}
    {{ encore_entry_script_tags('horaires_management') }}
{% endblock %}