{% extends 'base.html.twig' %}

{% block title %}Jour{% endblock %}

{% block body %}
    <h1>Jour</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jour.id }}</td>
            </tr>
            <tr>
                <th>Jour</th>
                <td>{{ jour.jour }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('jour_index') }}">back to list</a>

    <a href="{{ path('jour_edit', {'id': jour.id}) }}">edit</a>

    {{ include('jour/_delete_form.html.twig') }}
{% endblock %}
