<header class="header header-nav-menu">
    <div class="logo-container">
        <a href="{{ path('homepage') }}" class="logo">
            <img src="{{ asset('build/static/plouf_logo.png') }}" height="35" alt="Logo plouf"/>
        </a>
        <button class="btn header-btn-collapse-nav d-lg-none" data-toggle="collapse" data-target=".header-nav">
            <i class="fas fa-bars"></i>
        </button>
        <div class="header-nav collapse">
            <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
                {{ include('back/menu.html.twig') }}
            </div>
        </div>
    </div>
    <!-- start: search & user box -->
    <div class="header-right">
        <span class="separator"></span>
             <div id="userbox" class="userbox">
            <a href="#" data-toggle="dropdown">
                <figure class="profile-picture">
                    <img src="{{ asset('build/static/logo_dim.png') }}" alt="{{ app.user.username }}" class="rounded-circle" data-lock-picture="{{ asset('build/static/logo_dim.png') }}" />
                </figure>
                <div class="profile-info" data-lock-name="{{ app.user.username }}" data-lock-email="{{ app.user.email }}">
                    <span class="name">{{ app.user.username }}</span>
                    <span class="role">{{ app.user.stringifyRole }}</span>
                </div>

                <i class="fa custom-caret"></i>
            </a>

            <div class="dropdown-menu">
                <ul class="list-unstyled">
                    <li class="divider"></li>
                    <li>
                        <a role="menuitem" tabindex="-1" href="{{ path('fos_user_security_logout') }}"><i class="fas fa-power-off"></i> Déconnexion</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end: search & user box -->
</header>


