{% extends "base.html.twig" %}
{% block title %}{{ parent() }} - Tableau de bord{% endblock %}
{% block page_title %}Tableau de bord{% endblock %}
{% block breadcrumbs %}<li><span>Tableau de bord</span></li>{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('datatable') }}
{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-lg-4 col-md-12">
            {{ include ("back/fragments/widget/item.html.twig",{
                card_class: 'primary',
                card_bg_icon: 'primary',
                card_icon: 'school',
                card_title: "Nombre d'écoles inscrites aux formations",
                card_short_text: inscriptions|length
            }) }}
        </div>
        <div class="col-lg-4 col-md-12">
            {{ include ("back/fragments/widget/item.html.twig",{
                card_class: 'primary',
                card_bg_icon: 'primary',
                card_icon: 'users',
                card_title: "Nombre d'inscrits aux ateliers",
                card_short_text: inscriptions_ateliers|length
            }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-12 mb-4">
            <section class="card card-info">
                <div class="card-header">
                    <h2 class="card-title">Liste des inscriptions scolaires</h2>
                </div>
                <div class="card-body">
                    {{ include('back/inscription/_table.thml.twig',{
                        inscriptions: inscriptions
                    }) }}
                </div>
            </section>
        </div>
        <div class="col-lg-4 col-md-12">
            <section class="card card-info">
                <div class="card-header">
                    <h2 class="card-title">Liste des inscriptions aux ateliers</h2>
                </div>
                <div class="card-body">
                    {{ include('back/inscription_atelier/_table.thml.twig',{
                        inscriptions: inscriptions_ateliers
                    }) }}
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datatable') }}
{% endblock %}