{% extends "base.html.twig" %}
{% block page_title "Personaliser la plateforme" %}
{% block page_content %}
    <div class="row">
        <div class="col">
            <section class="card card-primary">
                <header class="card-header">
                    <h2 class="card-title">Personaliser la plateforme</h2>
                </header>
                {{ form_start(form) }}
                <div class="card-body">
                    <div class="row">
                        <div class="col">{{ form_row(form.app_title) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form_row(form.appLogo) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(form.backgroundImage) }}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                        <button class="btn btn-primary" type="submit">valider</button>
                </div>
                {{ form_end(form) }}
            </section>
        </div>
    </div>
{% endblock %}