{% extends 'base.html.twig' %}

{% block page_title %}Personalisation de la plateforme{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="row">
            <div class="col-12 mb-4">
                <section class="card ">
                    <header class="card-header">
                        <h2 class="card-title">
                            <span class="far fa-image"></span>
                            Logo de la page d'accueil
                        </h2>
                    </header>
                    <div class="card-body">
                        {% if configuration.appLogo and configuration.appLogo.imageName is not null %}
                            <img class="img-fluid img-thumbnail" src="{{ vich_uploader_asset(configuration.appLogo, 'imageFile') }}" alt="{{ configuration.appLogo.imageName }}" />
                        {% else %}
                            <img src="{{ asset('build/static/logo_plouf_2018.png') }}" class="img-fluid img-thumbnail" />
                        {% endif %}
                    </div>
                    <div class="card-footer text-right">
                        <a href="{{ path('personalisation_personalize', {'id': configuration.id}) }}" class="btn btn-primary">ajouter/modifier</a>
                    </div>
                </section>
            </div>
            <div class="col-12"><section class="card">
                    <header class="card-header">
                        <h2 class="card-title">
                            <span class="far fa-image"></span>
                            Image de fond de la page d'accueil</h2>
                    </header>
                    <div class="card-body">
                        {% if configuration.backgroundImage and configuration.backgroundImage.imageName is not null %}
                            <img  class="img-fluid img-thumbnail" src="{{ vich_uploader_asset(configuration.backgroundImage, 'imageFile') }}" alt="{{ configuration.backgroundImage.id }}" />
                        {% else %}
                            <img src="{{ asset('build/static/background_page_accueil.jpg') }}" class="img-fluid img-thumbnail" />
                        {% endif %}
                    </div>
                    <div class="card-footer text-right">
                        <a href="{{ path('personalisation_personalize', {'id': configuration.id}) }}" class="btn btn-primary">ajouter/modifier</a>
                    </div>
                </section></div>
        </div>
        
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
        <section class="card card-featured card-featured-info">
            <header class="card-header">
                <h2 class="card-title">
                    <span class="fas fa-question-circle"></span>
                    Aide
                </h2>
            </header>
            <div class="card-body">
                   {{ include("helper/_personalisation.html.twig") }}
            </div>
        </section>
    </div>
</div>
{% endblock %}
