{% extends "front_layout.html.twig" %}
{% block page_title "Formulaire d'inscription pour les ateliers" %}
{% block body %}
    {# configuration \App\Entity\Configuration #}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="alert alert-success">
                    {{ "email.confirmation.atelier.message"|trans({
                        '%nom%': inscription.nom ,
                        '%prenom%': inscription.prenom,
                        '%atelier%': inscription.atelier.title,
                        '%date%': inscription.atelier.jour|localizeddate("long", "none") ~ " à " ~ inscription.atelier.horaire|localizeddate("none","short") ,
                    })|raw }}
                    {{ configuration.confirmationAtelier|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}