<section class="card">
    <div class="card-header">
        <h2 class="card-title">Information concernant l'atelier</h2>
    </div>
    <div class="card-body">
        {# atelier \App\Entity\Atelier #}
        {{ atelier.description|raw }}
    </div>
</section>
