{% extends "front_layout.html.twig" %}
{% block page_title "Formulaire d'inscription pour les ateliers" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ configuration.messageAtelier|raw }}
            </div>
        </div>
        {% if form.atelier.vars.choices|length != 0 %}
            <div class="row">
                <div class="col-lg-12 infos">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mt-4">
                    <section class="card">
                        <header class="card-header">
                            <h2 class="card-title">
                                Completez le formulaire
                            </h2>
                        </header>
                        {{ form_start(form) }}
                        <div class="card-body">
                            {{ form_widget(form) }}
                        </div>
                        <div class="card-footer">
                            {{ form_rest(form) }}
                            <input type="submit" class="btn btn-primary" value="{{ "button.valid"|trans }}"/>
                        </div>
                        {{ form_end(form) }}
                    </section>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col">
                    <div class="alert alert-info">
                        <p>Il n'y a pas d'ateliers de disponibles pour le moment, merci de repasser plus tard. </p>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}
